<div class="news-reader-panel {{unless (and backgroundImg backgroundImgLoaded) bgClass}} {{if showBackdrop 'news-reader-backdrop'}} panel no-border no-margin" style="height: 100%;">								
	
	{{#if backgroundImg}}
		{{lazy-image url=backgroundImg class="news-reader-image" loaded=backgroundImgLoaded}}
	{{/if}}	

	<div class="font-montserrat fs-11 all-caps text-white" style="position: relative; z-index: 2; padding: 20px 20px 7px 20px;">
		<span class="m-r-5">News from</span>
		{{#each feedSources as |source|}}
			<a {{action (pipe  (action (mut currentFeed) source.name)  (cancelAll rotateFeedSource) )}} class="m-r-5 text-white {{if (not-eq currentFeed source.name) "hint-text"}}">{{source.title}}</a>
		{{/each}}		
	</div>										

	<div class="panel-body news-reader-panel-body p-t-0 scrollable" style="padding-bottom: 20px; position: relative; z-index: 2;">
		{{#deferred-content feed as |d|}}			
		  {{#d.settled}}
		  	<ul style="list-style: none; padding: 0;">
		    {{#each feed.entries as |entry index|}}
		    	
		    	{{#if (eq index 0)}}
		    		<li class="news-reader-leading-entry">
		    			<h2 class="text-white" style="margin-bottom: 0;"><a class="text-white" href="{{entry.link}}" target="_blank">{{entry.title}} <i class="fa fa-chevron-right p-l-5 fs-10"></i></a></h2> 
		    			<span class="text-white hint-text">
		    				{{moment-from-now entry.publishedDate}}
		    				{{#if entry.author}}
		    					<span class="hint-text">by</span> {{entry.author}}
		    				{{/if}}
		    			</span>
		    		</li>

		    	{{else if (eq index 1)}}
		    		<li><h4 class="text-white"><a class="text-white" href="{{entry.link}}" target="_blank">{{entry.title}} <i class="fa fa-chevron-right p-l-5 fs-10"></i></a></h4> </li>
		    	{{else}}
		    		<li><h5 class="text-white"><a class="text-white" href="{{entry.link}}" target="_blank">{{entry.title}} <i class="fa fa-chevron-right p-l-5 fs-10"></i></a></h5> </li>
		    	{{/if}}
		    	
		    {{/each}}
		   	</ul>
		  {{/d.settled}}
		{{/deferred-content}}          				
	</div>
</div>
