
<div class="dropdown-menu notification-toggle" style="display: block;" role="menu" aria-labelledby="notification-center">
  <div class="notification-panel">
    <!-- START Notification Body-->
    <div class="notification-body scrollable">
      {{#if notifications}}
        {{#each notifications as |notification|}}
          <!-- START Notification Item-->
          <div class="notification-item {{if notification.isUnread 'unread'}} clearfix">
            <div class="heading" {{action 'readNotification' notification}}>
              <a class="{{if notification.isWarning 'text-warning' 'text-complete'}}">
                <i class="fa {{if notification.isWarning 'fa-exclamation-triangle' 'fa-circle'}} m-r-10"></i>
                <span class="bold">{{notification.subject}}</span>
                <span class="fs-12 m-l-10">...</span>
              </a>
              <span class="pull-right time">{{moment-from-now notification.created}}</span>
              {{#if (eq notification.id expandedNotificationId)}}
                <div class="more-details" style="display: block;">
                  <div class="more-details-inner">
                    <h5 class="semi-bold fs-16">{{notification.body}}</h5>
                    <p class="small hint-text">
                      {{notification.notificationType}}
                    </p>
                  </div>
                </div>
              {{/if}}
            </div>
            <div class="option">
              <a href="#" class="mark"></a>
            </div>
          </div>
          <!-- END Notification Item-->
        {{/each}}
      {{else}}
        <div class="bg-master-lighter p-t-40 p-b-40 text-center hint-text">
          <i class="fa fa-bell-o fa-3x m-b-15" aria-hidden="true"></i><br>
          {{t 'notification.no_notifications'}}
        </div>
      {{/if}}
    </div>
    <!-- END Notification Body-->
    <!-- START Notification Footer-->
    <div class="notification-footer text-center disabled">
      <a href="#" class="">{{t 'notification.read_all'}}</a>
      <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">
        <i class="pg-refresh_new"></i>
      </a>
    </div>
    <!-- END Notification Footer-->
  </div>
</div>
