  <div class="header">
    <!-- START MOBILE CONTROLS -->
    <!-- LEFT SIDE -->
    <div class="pull-left full-height visible-sm visible-xs">
      <!-- START ACTION BAR -->
      <div class="sm-action-bar">
        <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
          <span class="icon-set menu-hambuger"></span>
        </a>
      </div>
      <!-- END ACTION BAR -->
    </div>
    <!-- RIGHT SIDE -->

    <!-- END MOBILE CONTROLS -->
    <div class="pull-left sm-table">
      <div class="header-inner">
        <div class="brand inline p-l-50">
					<a href="{{href-to 'dashboard'}}">
          	<img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo.png" height="28">
					</a>
        </div>
        {{notifications-dropdown notifications=notifications}}				
      </div>
    </div>
    <div class="pull-right">
      <!-- START User Info-->
      <div class="visible-lg visible-md m-t-10">
        <div class="pull-left p-r-10 fs-16 font-heading" style="padding-top: 9px;">
          <span class="text-master">{{currentUser.fullName}}</span> {{!-- <span class="text-master">Nest</span> --}}
        </div>
        <div class="pull-right">
					{{#basic-dropdown horizontalPosition="right" as |dropdown|}}
						<ul role="menu" class="m-b-0" style="width: 150px;">
						  <li><a href="#"><i class="pg-settings_small"></i> Settings</a></li>
						  <li><a href="#"><i class="pg-outdent"></i> Feedback</a></li>
						  <li><a href="#"><i class="pg-signals"></i> Help</a></li>
						  <li class="bg-master-lighter" style="padding: 5px 22px;">
						    <a {{action "logout" target=session}}>
						      <span class="pull-left">Logout</span>
						      <span class="pull-right"><i class="pg-power"></i></span>
						    </a>
						  </li>
						</ul>
					{{else}}
						<button class="profile-dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
							<span class="fa-stack fa-lg hint-text">
								<i class="fa fa-circle fa-stack-2x" style="line-height: 36px; color: #353535; font-size: 33px;"></i>
								<i class="fa fa-user fa-stack-1x fa-inverse" style="font-size: 15px; line-height: 33px;"></i>
							</span>
						</button>
					{{/basic-dropdown}}
        </div>
      </div>
      <!-- END User Info-->
    </div>
  </div>