<div class="content full-height">

    <div class="row no-margin bg-white" style="height: 55px;">
      <div class="col-xs-4 no-margin no-padding" style="height: 55px; z-index: 2;  border-right: 1px solid #F7F7F7;">
        <div style="padding: 17px 30px 17px;">
          <span class="saq-editor-title font-montserrat">{{saq.humanType}}</span>
          <span class="fs-16 hint-text p-l-10 font-montserrat hidden-xs">{{saq.version}}</span>
          <span class="fs-16 hint-text pull-right font-montserrat hidden-xs">{{globalCompleteness}}%</span>
        </div>
        <div class="progress progress-small" style="background-color: #E2E2E2;">
            <div style="width: {{globalCompleteness}}%; transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);" class="progress-bar progress-bar-success"></div>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="btn-group m-t-10 m-b-10 m-r-15 pull-right" style="border-bottom: 1px solid whitesmoke;">
          
          {{#if saq.isSubmitted}}
            <button {{action "download"}} type="button" class="btn btn-default"><i class="fa fa-download"></i></button>
            {{#tooltip-on-element side='left' event='none' effect='slide' tooltipIsVisible=downloadSaqTooltipIsShowing duration=5500}}
              You can download a copy of your SAQ by clicking here.
            {{/tooltip-on-element}}
            <button class="btn btn-complete" disabled><i class="fa fa-check m-r-10"></i>Submitted</button>
          {{else}}
            <button {{action "submit"}} class="btn btn-complete" disabled={{if (or (not isCompleted) isSubmitting) 'true'}}>
              {{#tooltip-on-element side='left' event='none' effect='slide' tooltipIsVisible=submitSaqTooltipIsShowing duration=5500}}
                You have completed the SAQ and you can now submit it.
              {{/tooltip-on-element}}
              {{{if isSubmitting '<i class="fa fa-circle-o-notch fa-spin m-r-10"></i> Submitting..' 'Submit SAQ'}}}
            </button>            
          {{/if}}
        </div>        
      </div>
    </div>

  <div style="height: calc(100% - 56px);">
      <div class="row full-height no-margin no-padding">

        <div class="col-sm-4 hidden-xs no-margin no-padding b-r b-grey full-height">        
          <div class="bg-white full-height scrollable">
            {{#deferred-content saq.questions as |d|}} 
              {{#d.settled}}
                {{saq-editor/sidebar saq=saq selectedQuestion=selectedQuestion selectQuestion=(action 'selectQuestion')}}
              {{/d.settled}}
            {{/deferred-content}}          
          </div>
        </div>
  
        <div class="col-sm-8 col-xs-12 no-margin no-padding full-height">
          {{#deferred-content saq.questions class="full-height" as |d|}}
            {{#d.pending}}
              <div class="progress-circle-indeterminate m-t-60"></div>
            {{/d.pending}}
            {{#d.settled class="full-height"}}
              {{saq-editor/question question=selectedQuestion}}
              {{saq-editor/answer question=selectedQuestion onSaveAnswer=(action 'goNext') okToLeaveSelectedQuestion=(action 'okToLeaveSelectedQuestion')}}
            {{/d.settled}}
          {{/deferred-content}}          
        </div>

      </div>
  </div>

</div>