<p>Contact Information</p>
<div class="form-group-attached">

  {{validated-input field="email" label="Email" placeholder="Your user email address" model=model.contactInfo errors=model.errors.contactInfo/email}}
  {{validated-input field="contactName" label="Full Name" model=model.contactInfo errors=model.errors.contactInfo/contactName}}
  {{validated-input field="companyName" label="Company Name" model=model.contactInfo errors=model.errors.contactInfo/companyName}}
  <div class="row clearfix">
    <div class="col-sm-6">
      {{validated-input field="title" label="Title" placeholder="e.g CEO" model=model.contactInfo errors=model.errors.contactInfo/title}}
    </div>
    <div class="col-sm-6">
      {{validated-input field="dba" label="DBA" placeholder="Doing Business As" model=model.contactInfo errors=model.errors.contactInfo/dba}}
    </div>
  </div>
  {{validated-input field="phone" label="Phone Number" model=model.contactInfo errors=model.errors.contactInfo/phone}}
</div>

<br />

<p>Business Information</p>
<div class="form-group-attached">
  {{validated-input field="businessAddress" label="Address" model=model.contactInfo.address errors=model.errors.contactInfo/address/businessAddress}}
  <div class="row clearfix">
    <div class="col-sm-6">
      {{validated-input field="country" label="Country" model=model.contactInfo.address errors=model.errors.contactInfo/address/country}}
    </div>
    <div class="col-sm-6">
      {{validated-input field="city" label="City" model=model.contactInfo.address errors=model.errors.contactInfo/address/city}}
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-sm-9">
      {{validated-input field="stateProvince" label="State / Province" placeholder="e.g NY" model=model.contactInfo.address errors=model.errors.contactInfo/address/stateProvince}}
    </div>
    <div class="col-sm-3">
      {{validated-input field="zipCode" label="ZIP Code" model=model.contactInfo.address errors=model.errors.contactInfo/address/zipCode}}
    </div>
  </div>
  {{validated-input field="url" label="URL" model=model.contactInfo.address errors=model.errors.contactInfo/address/url}}
</div>

<p class="pull-right m-t-20">
  <button {{action "save"}} class="btn btn-success btn-cons" type="submit" disabled={{if (or cantSave isLoading) 'true'}}>{{{if isLoading (concat '<i class="fa fa-circle-o-notch fa-spin m-r-10"></i> ' saveText) saveText}}}</button>
</p>
