<p>{{t 'enrollment.user_details.form_part_1'}}</p>
<div class="form-group-attached">

  {{validated-input field="email" label=(t 'enrollment.user_details.email') placeholder="Your user email address" model=model.contactInfo errors=model.errors.contactInfo.email}}
  {{validated-input field="contactName" label=(t 'enrollment.user_details.full_name') model=model.contactInfo errors=model.errors.contactInfo.contactName}}
  {{validated-input field="companyName" label="Company Name" model=model.contactInfo errors=model.errors.contactInfo.companyName}}
  <div class="row clearfix">
    <div class="col-sm-6">
      {{validated-input field="title" label=(t 'enrollment.user_details.person_title') placeholder="e.g CEO" model=model.contactInfo errors=model.errors.contactInfo.title}}
    </div>
    <div class="col-sm-6">
      {{validated-input field="dba" label=(t 'enrollment.user_details.dba') placeholder="Doing Business As" model=model.contactInfo errors=model.errors.contactInfo.dba}}
    </div>
  </div>
  {{validated-input field="phone" label=(t 'enrollment.user_details.phone') model=model.contactInfo errors=model.errors.contactInfo.phone}}
</div>

<br />

<p>{{t 'enrollment.user_details.form_part_2'}}</p>
<div class="form-group-attached">
  {{validated-input field="businessAddress" label=(t 'enrollment.user_details.address') model=model.contactInfo.address errors=model.errors.contactInfo.address.businessAddress}}
  <div class="row clearfix">
    <div class="col-sm-6">
      {{validated-input field="country" label=(t 'enrollment.user_details.country') model=model.contactInfo.address errors=model.errors.contactInfo.address.country}}
    </div>
    <div class="col-sm-6">
      {{validated-input field="city" label=(t 'enrollment.user_details.city') model=model.contactInfo.address errors=model.errors.contactInfo.address.city}}
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-sm-9">
      {{validated-input field="stateProvince" label=(t 'enrollment.user_details.state_province') placeholder="e.g NY" model=model.contactInfo.address errors=model.errors.contactInfo.address.stateProvince}}
    </div>
    <div class="col-sm-3">
      {{validated-input field="zipCode" label=(t 'enrollment.user_details.zip') model=model.contactInfo.address errors=model.errors.contactInfo.address.zipCode}}
    </div>
  </div>
  {{validated-input field="url" label=(t 'enrollment.user_details.zip') model=model.contactInfo.address errors=model.errors.contactInfo.address.url}}


  <div class="row clearfix">
    {{!-- <div class="col-sm-9">
      <div class="form-group form-group-default form-group-select">
        <label class="{{if model.merchant.level 'fade'}}">Level</label>
        {{let levels=(List (array (hash name="Level 1 Service Provider" value="LEVEL1") (hash name="Level 2 Service Provider" value="LEVEL2") (hash name="Level 3 Service Provider" value="LEVEL3") (hash name="Level 4 Service Provider" value="LEVEL4")))}}
        {{#power-select
          searchEnabled=false
          options=levels
          selected=(find-by 'value' model.merchant.level levels)       
          onchange=(action (mut model.merchant.level) value="value")
          as |level|
        }}
          {{level.name}}          
        {{/power-select}}
      </div>
    </div> --}}
    <div class="col-sm-12">
      {{validated-input field="mid" label="Merchant ID (MID)" model=model.merchant errors=model.errors.merchant.mid}}
    </div>
  </div>
  {{!--selected=(find-by 'value' model.merchant.businessChannel businessChannels)       
      onchange=(action (mut model.merchant.businessChannel) value="value")
  --}}
  <div class="form-group form-group-default form-group-select">
    <label class="{{if model.merchant.merchantProfile.businessChannels 'fade'}}">Business Channel(s)</label>
    {{let businessChannels=(List (array (hash friendlyName="e-Commerce" name="E_COMMERCE") (hash friendlyName="MOTO (Mail and Telephone order)" name="MOTO") (hash friendlyName="F2F (Face to Face: store, retail..)" name="F2F") (hash friendlyName="Other" name="OTHER")))}}
    {{#power-select-multiple
      searchEnabled=false
      options=businessChannels
      selected=model.merchant.merchantProfile.businessChannels
      onchange=(action (mut model.merchant.merchantProfile.businessChannels))
      as |businessChannel|
    }}
      {{businessChannel.name}}          
    {{/power-select-multiple}}
</div>
</div>

<p class="pull-right m-t-20">
  <button {{action "save"}} class="btn btn-success btn-cons" type="submit" disabled={{if (or cantSave isLoading) 'true'}}>{{{if isLoading (concat '<i class="fa fa-circle-o-notch fa-spin m-r-10"></i> ' saveText) saveText}}}</button>
</p>
