<!-- START PAGE CONTENT -->
<div class="content">
  {{#pg-navbar first="Scans"}}
    <div class="pull-right">
      <div class="inner">
       {{#link-to "scans.new" tagName="button" type="button" class="btn btn-complete m-t-10" data-toggle="button"}}New scan{{/link-to}}
      </div>
    </div>

{{!--     <div class="container-md-height m-b-20">
      <div class="row row-md-height">

        <div class="col-lg-7 col-md-6 col-md-height col-middle bg-white">         
        <span class="hint-text">You have <b>7</b> IPs, 5 of them are not PCI compliant</span>
        </div>

        <div class="col-lg-5 col-md-height col-md-6 col-top"> 
        </div>

      </div>
    </div> --}}

  {{/pg-navbar}}
  <!-- START CONTAINER FLUID -->
  <div class="">
  
    <!-- BEGIN PlACE PAGE CONTENT HERE -->


    <div class="">
      <table class="table ips-table dataTable">
        <thead>
          <tr>
            <th class="sorting">Reference</th>
            <th class="sorting">Status</th>
            <th class="sorting">Finished</th>
            <th></th>         
          </tr>
        </thead>
        <tbody>
        {{#each model as |entity|}}
        <tr>
          <td colspan=5 style="padding: 0px; background: transparent; border: none;">
            <ul class="nav nav-tabs nav-tabs-linetriangle">
              <li class="active">
                <a data-toggle="tab" href="#home"><span><span class="hint-text">Merchant</span> {{entity.companyName}}</span>                  
                </a>              
              </li>
            </ul>                      
          </td>
        </tr>
          {{#if entity.scans}}
            {{#each entity.scans as |scan|}}    
              <tr>
                <td>{{scan.scanReference}}</td>
                <td><span class="label label-{{scan.statusAsString}}">{{scan.humanStatus}}</span></td>
                <td>{{#if scan.scanEnd}}{{moment-to-now scan.scanEnd}}{{/if}}</td>
                <td style="padding: 12px; width: 180px; text-align: center;">
                  <div class="btn-group dropdown-default">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> Actions <span class="caret"></span> </a>
                      <ul class="dropdown-menu ">
                          <li><a href="#">Relaunch</a>
                          </li>
                          <li class="divider"></li>
                          {{!-- <li>{{#link-to 'scan.results' scan.scanReportId}}View Report{{/link-to}} --}}
                          {{!-- </li> --}}
                          <li><a href="#">Download Report</a>
                          </li>
                      </ul>
                  </div>
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td colspan=4>
                aa
              </td>
            </tr>
          {{/if}}
        {{/each}}
        </tbody>          
      </table>
    </div>
    <!-- END PLACE PAGE CONTENT HERE -->
  </div>
  <!-- END CONTAINER FLUID -->
</div>
<!-- END PAGE CONTENT -->