{{#if hasCompletedPreFlight}}
  <div class="row bg-master-lightest">
    <div class="col-md-12">
      {{text-wizard wizardId=currentUser.enrollmentWizardId onWizardComplete=(action 'unlockApplication')}}
    </div>
  </div>
{{else}}
  <div class="row bg-white">
    <div class="col-md-12">
        <div class="p-t-20 p-r-40 p-l-40 p-b-30">
          <h3>{{t 'enrollment.saq_detection.saq_detection_part1'}}</h3>
          <p class="text-justify">
            {{t 'enrollment.saq_detection.saq_detection_part2'}}
          </p>
          <p class="text-justify m-t-10">
          <h4 class="">{{t 'enrollment.saq_detection.saq_detection_part3'}}</h4>
          {{!-- <h5 class="hint-text m-b-5 m-t-0" style="font-size: 17px;">Not Enrolled > Enrolled > Not Compliant > Compliant</h5> --}}
           {{t 'enrollment.saq_detection.saq_detection_part4'}}
           <br>
           {{t 'enrollment.saq_detection.saq_detection_part5'}}
          </p>
          <p class="small hint-text text-justify">{{t 'enrollment.saq_detection.saq_detection_part6'}}</p>
        </div>
        <p class="pull-right p-r-30 p-b-30">
          <button {{action 'completePreFlight'}} class="btn btn-success btn-cons">Start</button>
        </p>
    </div>
  </div>
{{/if}}
