<div class="row column-seperation padding-15">
  <div class="col-md-12">
    <div class="row row-same-height">
      <div class="col-md-5 b-r b-dashed b-grey ">
        <div class="padding-30 m-t-30">
          <h2>{{t 'enrollment.user_details.user_details_part_1'}}</h2>
          <p>
            {{t 'enrollment.user_details.user_details_part_2'}}
          </p>
          <p>
            <h5 class="m-b-5">{{t 'enrollment.user_details.user_details_part_3'}}</h5>
            {{t 'enrollment.user_details.user_details_part_4'}}
          </p>
          <p class="small hint-text">
            {{t 'enrollment.user_details.user_details_part_5'}}
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="padding-30">
          {{user-editor model=model onComplete=(action "goToNextStep") saveText=(t 'app.button_next')}}
        </div>
      </div>
    </div>
  </div>
</div>
