<div class="bg-pic hidden-sm hidden-xs" style="position: absolute;">
  <img src="assets/img/backgrounds/pci_road_bg_transparent.png" style="opacity: 0.3; width: 2000px; top: 140px; position: relative; left: -50px;" />
</div>

<div class="row column-seperation padding-15">
  <div class="col-md-4">
    <h3>
      Welcome to <span class="semi-bold">{{if currentUser.isUnbranded (t 'app.unbranded_full_name') (t 'app.full_name')}}</span>
    </h3>
  </div>
  <div class="col-md-8">
  <h3 class="semi-bold">Let's start</h3>
    <p>You're here because you need to demonstrate your PCI DSS compliance to the cards industry.</p>
    <p>By clicking <b>Start</b> you will initiate the enrollment procedure based on <b>3 simple steps</b>. This will allow your organisation to identify the correct PCI DSS Self Assessment Questionnaire (SAQ) and complete it.</p>
    <p>Please take a few minutes to complete the journey and <i>fasten your seatbelts!</i></p>    
    <p class="pull-left p-t-35 p-b-30 p-r-30">
      {{input type="checkbox" checked=currentUser.tcAccepted}}<span class="p-l-10">I accept the <a {{action 'openTermsModal'}}>Terms and Conditions</a></span>  
    </p>
    <p class="pull-right p-t-30 p-b-30 p-r-30">      
      <button {{action 'goNext'}} class="btn btn-success btn-cons" disabled={{if (not hasCompletedStep) 'disabled'}}>Start</button>
    </p>
  </div>
</div>

<div class="row no-margin">
  {{ivy-videojs src=enrollmentVideoSrc fluid=true ready="ready" controls=true}}
</div>

{{modals/terms-and-conditions onAgree=(action (mut currentUser.tcAccepted) true)}}
