{{#if isLoading}}
  <div class="bg-master-lighter p-t-40 p-b-40" style="height: 50%;">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw text-master-light" style="margin: auto; display: block;"></i>
  </div>
{{else}}
  {{#if isEditingNotApplicable}}

    <div class="saq-editor-answer-container" style="height: 50%; padding: 25px 20px !important;">
      <div class="alert alert-default m-b-0" role="alert">
        <b>{{t 'saq_editor.not_applicable.title'}}</b><br>      
        {{t 'saq_editor.not_applicable.subtitle'}}
        <a {{action 'stopEditingNotApplicable'}}><i class="pg-close_line pull-right" style="font-size: 24px; line-height: 3px;"></i></a>
      </div>
      {{textarea value=question.answer.notApplicable class="saq-editor-not-applicable-textarea form-control" placeholder=(t 'saq_editor.not_applicable.example')}}
        
      <button class="btn btn-lg btn-complete btn-larger pull-right m-t-10" {{action 'answer' 'NOT_APPLICABLE'}} disabled={{v-get question.answer 'notApplicable' 'isInvalid'}}>Save</button>
      <button class="btn btn-lg btn-default btn-larger pull-right m-t-10 m-r-5" {{action 'stopEditingNotApplicable'}}>Cancel</button>
    </div>

  {{else if isEditingCompensatingControls}}

    <div class="saq-editor-answer-container" style="height: 50%; padding: 25px 20px !important;">
      <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator hidden-md hidden-sm hidden-xs">
        <li class={{if (eq activeCompensatingControlPoint 'constraints') 'active'}}>
          <a onclick={{action (mut activeCompensatingControlPoint) 'constraints'}}><span>{{t 'saq_editor.compensating_control.constraints.title'}}</span> <i class="fa m-l-10 {{if (v-get question.answer 'constraints' 'isInvalid') 'fa-check-circle-o muted' 'fa-check-circle text-success'}}"></i></a>
        </li>
        <li class={{if (eq activeCompensatingControlPoint 'objective') 'active'}}>
          <a onclick={{action (mut activeCompensatingControlPoint) 'objective'}}><span>{{t 'saq_editor.compensating_control.objective.title'}}</span> <i class="fa m-l-10 {{if (v-get question.answer 'objective' 'isInvalid') 'fa-check-circle-o muted' 'fa-check-circle text-success'}}"></i></a>
        </li>
        <li class={{if (eq activeCompensatingControlPoint 'risks') 'active'}}>
          <a onclick={{action (mut activeCompensatingControlPoint) 'risks'}}><span>{{t 'saq_editor.compensating_control.risks.title'}}</span> <i class="fa m-l-10 {{if (v-get question.answer 'risks' 'isInvalid') 'fa-check-circle-o muted' 'fa-check-circle text-success'}}"></i></a>
        </li>
        <li class={{if (eq activeCompensatingControlPoint 'definition') 'active'}}>
          <a onclick={{action (mut activeCompensatingControlPoint) 'definition'}}><span>{{t 'saq_editor.compensating_control.definition.title'}}</span> <i class="fa m-l-10 {{if (v-get question.answer 'definition' 'isInvalid') 'fa-check-circle-o muted' 'fa-check-circle text-success'}}"></i></a>
        </li>
        <li class={{if (eq activeCompensatingControlPoint 'validation') 'active'}}>
          <a onclick={{action (mut activeCompensatingControlPoint) 'validation'}}><span>{{t 'saq_editor.compensating_control.validation.title'}}</span> <i class="fa m-l-10 {{if (v-get question.answer 'validation' 'isInvalid') 'fa-check-circle-o muted' 'fa-check-circle text-success'}}"></i></a>
        </li>
        <li class={{if (eq activeCompensatingControlPoint 'maintenance') 'active'}}>
          <a onclick={{action (mut activeCompensatingControlPoint) 'maintenance'}}><span>{{t 'saq_editor.compensating_control.maintenance.title'}}</span> <i class="fa m-l-10 {{if (v-get question.answer 'maintenance' 'isInvalid') 'fa-check-circle-o muted' 'fa-check-circle text-success'}}"></i></a>
        </li>
      </ul>

      <ul class="nav nav-tabs nav-tabs-left nav-tabs-simple nav-tabs-separator hidden-lg hidden-xlg" data-init-reponsive-tabs="collapse">
        <li class={{if (eq activeCompensatingControlPoint 'constraints') 'active'}}>
          <a onclick={{action (mut activeCompensatingControlPoint) 'constraints'}}><span>{{t 'saq_editor.compensating_control.constraints.title'}}</span> <i class="fa m-l-10 {{if (v-get question.answer 'constraints' 'isInvalid') 'fa-check-circle-o muted' 'fa-check-circle text-success'}}"></i></a>
        </li>
        <li class={{if (eq activeCompensatingControlPoint 'objective') 'active'}}>
          <a onclick={{action (mut activeCompensatingControlPoint) 'objective'}}><span>{{t 'saq_editor.compensating_control.objective.title'}}</span> <i class="fa m-l-10 {{if (v-get question.answer 'objective' 'isInvalid') 'fa-check-circle-o muted' 'fa-check-circle text-success'}}"></i></a>
        </li>
        <li class={{if (eq activeCompensatingControlPoint 'risks') 'active'}}>
          <a onclick={{action (mut activeCompensatingControlPoint) 'risks'}}><span>{{t 'saq_editor.compensating_control.risks.title'}}</span> <i class="fa m-l-10 {{if (v-get question.answer 'risks' 'isInvalid') 'fa-check-circle-o muted' 'fa-check-circle text-success'}}"></i></a>
        </li>
        <li class={{if (eq activeCompensatingControlPoint 'definition') 'active'}}>
          <a onclick={{action (mut activeCompensatingControlPoint) 'definition'}}><span>{{t 'saq_editor.compensating_control.definition.title'}}</span> <i class="fa m-l-10 {{if (v-get question.answer 'definition' 'isInvalid') 'fa-check-circle-o muted' 'fa-check-circle text-success'}}"></i></a>
        </li>
        <li class={{if (eq activeCompensatingControlPoint 'validation') 'active'}}>
          <a onclick={{action (mut activeCompensatingControlPoint) 'validation'}}><span>{{t 'saq_editor.compensating_control.validation.title'}}</span> <i class="fa m-l-10 {{if (v-get question.answer 'validation' 'isInvalid') 'fa-check-circle-o muted' 'fa-check-circle text-success'}}"></i></a>
        </li>
        <li class={{if (eq activeCompensatingControlPoint 'maintenance') 'active'}}>
          <a onclick={{action (mut activeCompensatingControlPoint) 'maintenance'}}><span>{{t 'saq_editor.compensating_control.maintenance.title'}}</span> <i class="fa m-l-10 {{if (v-get question.answer 'maintenance' 'isInvalid') 'fa-check-circle-o muted' 'fa-check-circle text-success'}}"></i></a>
        </li>
      </ul>

      <div class="tab-content padding-0 saq-editor-compensating-controls-tabs-content">
        <div class="tab-pane active saq-editor-compensating-controls-tabs-pane">
          {{#if (eq activeCompensatingControlPoint 'constraints')}}
            <div class="alert alert-default m-b-0 saq-editor-compensating-controls-alert">
              {{t 'saq_editor.compensating_control.constraints.subtitle'}}
            </div>
            {{textarea value=question.answer.constraints class="saq-editor-compensating-controls-textarea form-control" placeholder=(t 'saq_editor.compensating_control.constraints.example')}}
          {{/if}}

          {{#if (eq activeCompensatingControlPoint 'objective')}}
            <div class="alert alert-default m-b-0 saq-editor-compensating-controls-alert">
              {{t 'saq_editor.compensating_control.objective.subtitle'}}
            </div>
            {{textarea value=question.answer.objective class="saq-editor-compensating-controls-textarea form-control" placeholder=(t 'saq_editor.compensating_control.objective.example')}}
          {{/if}}

          {{#if (eq activeCompensatingControlPoint 'risks')}}
            <div class="alert alert-default m-b-0 saq-editor-compensating-controls-alert">
              {{t 'saq_editor.compensating_control.risks.subtitle'}}
            </div>
            {{textarea value=question.answer.risks class="saq-editor-compensating-controls-textarea form-control" placeholder=(t 'saq_editor.compensating_control.risks.example')}}
          {{/if}}

          {{#if (eq activeCompensatingControlPoint 'definition')}}
            <div class="alert alert-default m-b-0 saq-editor-compensating-controls-alert">
              {{t 'saq_editor.compensating_control.definition.subtitle'}}
            </div>
            {{textarea value=question.answer.definition class="saq-editor-compensating-controls-textarea form-control" placeholder=(t 'saq_editor.compensating_control.definition.example')}}
          {{/if}}

          {{#if (eq activeCompensatingControlPoint 'validation')}}
            <div class="alert alert-default m-b-0 saq-editor-compensating-controls-alert">
              {{t 'saq_editor.compensating_control.validation.subtitle'}}
            </div>
            {{textarea value=question.answer.validation class="saq-editor-compensating-controls-textarea form-control" placeholder=(t 'saq_editor.compensating_control.validation.example')}}
          {{/if}}

          {{#if (eq activeCompensatingControlPoint 'maintenance')}}
            <div class="alert alert-default m-b-0 saq-editor-compensating-controls-alert">
              {{t 'saq_editor.compensating_control.maintenance.subtitle'}}
            </div>
            {{textarea value=question.answer.maintenance class="saq-editor-compensating-controls-textarea form-control" placeholder=(t 'saq_editor.compensating_control.maintenance.example')}}
          {{/if}}

        </div>
      </div>

      <button class="btn btn-lg btn-complete btn-larger pull-right m-t-10" {{action 'answer' 'COMPENSATING'}} 
              disabled={{if (or (v-get question.answer 'constraints' 'isInvalid') 
                                (v-get question.answer 'objective' 'isInvalid') 
                                (v-get question.answer 'risks' 'isInvalid')
                                (v-get question.answer 'definition' 'isInvalid')
                                (v-get question.answer 'validation' 'isInvalid')
                                (v-get question.answer 'maintenance' 'isInvalid')) 'true'}}>
        Save
      </button>
      <button class="btn btn-lg btn-default btn-larger pull-right m-t-10 m-r-5" {{action 'stopEditingCompensatingControls'}}>Cancel</button>
    </div>

  {{else}}

    <div class="bg-master-lighter p-t-35 p-b-35" style="height: 50%; overflow: auto;">
      <div style="width: 50%; text-align: center; margin: auto;">
        {{!--{{#stagger-set inDirection="up" outDirection="left" inEffect="slideAndFade"}}--}}
            <button {{action 'answer' 'YES'}} class="btn btn-lg btn-larger btn-block text-left {{if (eq question.answer.type 'YES') 'btn-success' 'btn-default'}}" 
                    style="white-space: normal; border-radius: 0;">
              <div>{{t 'saq_editor.button_yes'}}</div>
            </button>

            <button {{action 'answer' 'NO'}} class="btn btn-lg btn-larger btn-block text-left {{if (eq question.answer.type 'NO') 'btn-success' 'btn-default'}}" 
                    style="white-space: normal; border-radius: 0;">
              <div>{{t 'saq_editor.button_no'}}</div>
            </button>
            
            <div class="btn-group  btn-group-justified m-t-10">
              <div class="btn-group" role="group" style="width: 2%;">
                <button id="n-a" {{action 'startEditingNotApplicable'}} class="btn btn-lg btn-larger text-left {{if (eq question.answer.type 'NOT_APPLICABLE') 'btn-success' 'btn-default'}}" 
                        style="white-space: normal; border-radius: 0;">
                  {{t 'saq_editor.button_notapplicable'}}
                  {{#tooltip-on-element target="#n-a" side='top' event='hover' effect='slide'}}
                    {{t 'saq_editor.hover_notapplicable'}}
                  {{/tooltip-on-element}}          
                </button>
              </div>
              {{#if (eq question.answer.type 'NOT_APPLICABLE')}}
                <div class="btn-group" role="group">
                  <button {{action 'startEditingNotApplicable'}} class="btn btn-lg btn-larger btn-white">
                    <div class="overflow-ellipsis"><i class="fa fa-edit m-r-5"></i>Edit</div>
                    {{#tooltip-on-element side='top' event='hover' effect='slide'}}
                      {{t 'saq_editor.hover_notapplicable_edit'}}
                    {{/tooltip-on-element}} 
                  </button>
                </div>
              {{/if}}
            </div>
            
            <div class="btn-group  btn-group-justified m-t-10">
              <div class="btn-group" role="group" style="width: 2%;">
                <button id="c-c" {{action 'startEditingCompensatingControls'}} class="btn btn-lg btn-larger btn-block text-left {{if (eq question.answer.type 'COMPENSATING') 'btn-success' 'btn-default'}}"   
                        style="white-space: normal; border-radius: 0;">
                  {{t 'saq_editor.button_compenstatingcontrol'}}
                  {{#tooltip-on-element target="#c-c" side='top' event='hover' effect='slide'}}
                    {{t 'saq_editor.hover_compensatingcontrol'}}
                  {{/tooltip-on-element}}                  
                </button>
              </div>
              {{#if (eq question.answer.type 'COMPENSATING')}}
                <div class="btn-group" role="group">
                <button {{action 'startEditingCompensatingControls'}} class="btn btn-lg btn-larger btn-white">
                  <div class="overflow-ellipsis"><i class="fa fa-edit m-r-5"></i>Edit</div>
                  {{#tooltip-on-element side='top' event='hover' effect='slide'}}
                    {{t 'saq_editor.hover_compensatingcontrol_edit'}}
                  {{/tooltip-on-element}} 
                  </button>
                </div>
              {{/if}}
            </div>
        {{!--{{/stagger-set}}--}}
      </div>
    </div>

  {{/if}}
{{/if}}