<div class="bg-master" style=" height: 50%;">
  <div class="p-t-50" style="width: 50%; text-align: center; margin: 0 auto;">
    {{#stagger-set inDirection="up" outDirection="left" inEffect="slideAndFade"}}
        <button {{action 'answer' 'YES'}} class="btn btn-default btn-lg btn-larger btn-block text-left {{if (eq question.answer.responseType 'YES') 'active'}}" 
                style="white-space: normal; border-radius: 0;">
          <div>Yes</div>
        </button>

        <button {{action 'answer' 'NO'}} class="btn btn-default btn-lg btn-larger btn-block text-left {{if (eq question.answer.responseType 'NO') 'active'}}" 
                style="white-space: normal; border-radius: 0;">
          <div>No</div>
        </button>

        <button {{action 'answer' 'NOT_APPLICABLE'}} class="btn btn-default btn-lg btn-larger btn-block text-left {{if (eq question.answer.responseType 'NOT_APPLICABLE') 'active'}}" 
                style="white-space: normal; border-radius: 0;">
          <div>Not Applicable</div>
          <span class="hint-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius facilisis volutpat.</span>
        </button>

        <button {{action 'answer' 'COMPENSATING_CONTROLS'}} class="btn btn-default btn-lg btn-larger btn-block text-left {{if (eq question.answer.responseType 'COMPENSATING_CONTROLS') 'active'}}"   
                style="white-space: normal; border-radius: 0;">
          <div>Compensating Controls</div>
          <span class="hint-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius facilisis volutpat.</span>
        </button>

    {{/stagger-set}}
  </div>
</div>