 <div class="list-group m-b-0">
 	{{#if saq.questions}}
	 	{{#each-in (group-by 'sectionNumber' saq.questions) as |section questions|}}
	 		<div class="bg-master-lightest" style="padding: 16px;">	 			
	 			Section {{section}}	 			
	 		</div>
	 	  {{#each questions as |question|}}	
	 	  	<a id={{concat 'question-' question.id}} {{action attrs.selectQuestion question}} class="list-group-item {{if (eq question.id selectedQuestion.id) 'active'}}" style="border-right: 0;">
					<div class="row">
						<div class="col-xs-2 text-center">
		 	  			<span class="semi-bold">{{question.code}}</span>
						</div>
						<div class="col-xs-8" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
		 	  			<span class="text-overflow hint-text text-overflow: ellipsis;">{{truncate question.text 60}}</span>
						</div>
		 	  		{{#if question.answer}}
							<div class="col-xs-2">
			 	  			<span class="label {{if (eq question.answer.shortType 'Y') 'label-success' 'label-default'}} label-pill pull-right">
			 						{{question.answer.shortType}}
			 					</span>
							</div>
			 			{{/if}}
			 		</div>
	 	  	</a>
	 	  {{/each}}  	  
	 	 {{/each-in}}
	 {{/if}}
 </div>
