<div class="content" style="height: calc(100% - 116px);">
  {{pg-navbar}}

  <div class="container container-fixed-lg p">

    <div class="panel panel-featured m-t-30" style="width: 100%;">
      <div class="panel-content">
        <div class="sender inline p-l-20">
          <h2>{{model.subject}}</h2>
          <p class="datetime no-margin">Sent on {{moment-format model.created 'MMMM Do YYYY, h:mm'}} ({{moment-from-now model.created}})</p>
        </div>
        <hr>
        <div class="email-content-body m-t-20 p-l-20">
          <p>{{{model.body}}}</p>
        </div>
        {{#if model.attachments}}
          <div class="padding-20">
            {{#each model.attachments as |attachment|}}
              <div {{action "downloadAttachment" model attachment.filename}} class="btn-attachment padding-10 p-l-15 p-r-15 bg-master-lightest m-r-5 m-t-5" style="display: inline-block;">              
                <i class="fa fa-file-o m-r-10"></i>{{attachment.filename}}<i class="icon-download fa fa-cloud-download m-l-10"></i>
              </div>
            {{/each}}
          </div>
        {{/if}}
      </div>
    </div>

  </div>

</div>