<div class="login-wrapper">
  <!-- START Login Background Pic Wrapper-->
  <div class="bg-pic">
    <!-- START Background Pic-->
    <img src="/assets/img/backgrounds/pci_road.png" data-src="/assets/img/backgrounds/pci_road.png" data-src-retina="/assets/img/backgrounds/pci_road.png" alt="" class="lazy">
    <!-- END Background Pic-->
    <!-- START Background Caption-->
    <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
      <h2 class="semi-bold text-white">
			Your fastest way to compliance.</h2>
      <p class="small hint-text">
        Brought to you by Advantio.
      </p>
    </div>
    <!-- END Background Caption-->
  </div>
  <!-- END Login Background Pic Wrapper-->
  <!-- START Login Right Container-->
  <div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
      {{#if currentUser.isIngenico}}
        <img src="/assets/img/ingenico_logo.png" alt="logo" data-src="/assets/img/ingenico_logo.png" data-src-retina="/assets/img/ingenico_logo.png" height="40">
      {{else}}
        <img src="/assets/img/logo_merchant.png" alt="logo" data-src="/assets/img/logo_merchant.png" data-src-retina="/assets/img/logo_merchant.png" height="40">
      {{/if}}

      <p class="p-t-35 hint-text">Sign into your {{if currentUser.isIngenico (t 'app.unbranded_full_name') (t 'app.full_name')}} account</p>

      {{error-box errors=error class="m-b-0 m-t-20"}}

      <!-- START Login Form -->
      <form id="form-login" class="p-t-15" role="form" {{action 'authenticate' on='submit'}}>
        <!-- START Form Control-->
        <div class="form-group form-group-default">
          <label>Email</label>
          <div class="controls">
            {{input value=identification id="email" type="email" class="form-control" placeholder="Your user's email"}}
          </div>
        </div>
        <!-- END Form Control-->
        <!-- START Form Control-->
        <div class="form-group form-group-default">
          <label>Password</label>
          <div class="controls">
            {{input value=password id="password" type="password" class="form-control" placeholder="Credentials"}}
          </div>
        </div>
        <!-- START Form Control-->
        {{!--<div class="row">
          <div class="col-md-12 text-right ">
	          <a href="#" class="text-info small">Forgot password?</a>
          </div>
        </div>--}}
        <!-- END Form Control-->
        <button {{action 'authenticate'}} class="btn btn-complete btn-cons m-t-10" type="submit" disabled={{isLoading}}>
          {{{if isLoading '<i class="fa fa-circle-o-notch fa-spin m-r-10"></i> Logging in' 'Login'}}}
        </button>
{{!--         {{input id="login-button" type="submit" class="btn btn-complete btn-cons m-t-10" value=}}
 --}}      </form>
      <!--END Login Form-->
    </div>
  </div>
  <!-- END Login Right Container-->
</div>
