<!-- START PAGE CONTENT -->
<div class="content">
  {{#pg-navbar first="IPs"}}
    <div class="pull-right">
      <div class="inner">
       {{#link-to "ips.new" tagName="button" type="button" class="btn btn-complete m-t-10" data-toggle="button"}}New IP{{/link-to}}
      </div>
    </div>
  {{/pg-navbar}}
  <!-- START CONTAINER FLUID -->
  <div class="">
    <!-- BEGIN PlACE PAGE CONTENT HERE -->


    <div class="">
      <table class="table ips-table">
        <thead>
          <tr>
            <th>Hostname</th>
            <th>IP</th>
            <th>Tag</th>
            <th>Description</th>   
            <th></th>         
          </tr>
        </thead>
        <tbody>
        {{#each model as |entity|}}
        <tr>
          <td colspan=5 style="padding: 0px; background: transparent; border: none;">
            <ul class="nav nav-tabs nav-tabs-linetriangle">
              <li class="active">
                <a data-toggle="tab" href="#home"><span><span class="hint-text">Merchant</span> {{entity.companyName}}</span>                  
                </a>              
              </li>
            </ul>                      
          </td>
        </tr>
          {{#each entity.assetIps as |assetIp|}}    
            <tr>
              <td>{{assetIp.hostName}}</td>
              <td>{{assetIp.ipNumber}}</td>
              <td><span class="label label-default">{{assetIp.tag}}</span></td>
              <td>{{assetIp.description}}</td>
              <td class="" style="padding: 12px; width: 250px;">
                <div class="btn-group">
                      <button type="button" class="btn btn-default"><i class="fa fa-bolt"></i>&nbsp; Scan </button>
                      <div class="btn-group dropdown-default">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 10px;" aria-expanded="false">
                        <i class="fa fa-caret-down"></i>
                        {{!-- <span class="caret"></span> --}}
                        </button>
                        <ul class="dropdown-menu" role="menu" style="width: 141px;">
                        <li><a href="#">Schedule Scan</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Edit</a></li>
                        <li><a href="#">Remove</a></li>
                      </ul>
                  </div>
                </div>
              </td>
            </tr>
          {{/each}}
        {{/each}}
        </tbody>          
      </table>
    </div>
    <!-- END PLACE PAGE CONTENT HERE -->
  </div>
  <!-- END CONTAINER FLUID -->
</div>
<!-- END PAGE CONTENT -->