<!-- START PAGE CONTENT -->
<div class="content">
{{pg-navbar first="IPs" second="New IP"}}
<div class="container container-fluid">
	<div class="panel panel-transparent">
		<div class="panel-body">
			<form id="form-personal" role="form" autocomplete="off" novalidate="novalidate">

				<div class="row clearfix">
					<div class="col-sm-12">
						<div class="form-group form-group-default form-group-default-select2">
							<!-- Using data-init-plugin='select2' automatically initializes a basic Select2 -->
{{!-- 							<select  class="full-width" data-init-plugin="select2">
							    <optgroup label="Alaskan/Hawaiian Time Zone">
							        <option value="AK">Alaska</option>
							        <option value="HI">Hawaii</option>
							    </optgroup>
							    <optgroup label="Pacific Time Zone">
							        <option value="CA">California</option>
							        <option value="NV">Nevada</option>
							        <option value="OR">Oregon</option>
							        <option value="WA">Washington</option>
							    </optgroup>
							</select> --}}
							<label class="">Merchant</label>				
							<select id="entity-select" class="full-width select2-offscreen" data-placeholder="Select Merchant"  tabindex="-1" title="">
								<option value="AK">Alaska</option>
							</select>
						</div>
					</div>
				</div>

{{!-- 				<div class="form-group form-group-default form-group-default-select2 required">

				</div> --}}


				<div class="row clearfix">
					<div class="col-sm-12">
						<div class="form-group form-group-default">
							<label>IP Address</label>
				            {{input value=ipNumber id="ipNumber" type="text" class="form-control" placeholder="IP Address of the host you whis to add (e.g: 91.22.110.7)" required="" aria-required="true" }}            
						</div>
					</div>
				</div>

				<div class="row clearfix">
					<div class="col-sm-12">
						<div class="form-group form-group-default">
							<label>Hostname</label>
				            {{input value=hostname id="hostname" type="text" class="form-control" placeholder="Hostname of the host you whis to add (e.g: LAN02-DB01)" required="" aria-required="true" }}            
						</div>
					</div>
				</div>

				<div class="row clearfix">
					<div class="col-sm-12">
						<div class="form-group form-group-default">
							<label>Tag</label>
				            {{input value=tag id="tag" type="text" class="form-control" placeholder="Tag of the host you whis to add (e.g: database-1)" required="" aria-required="true" }}            
						</div>
					</div>
				</div>

				<div class="row clearfix">
					<div class="col-sm-12">
						<div class="form-group form-group-default">
							<label>Description</label>
				            {{input value=description id="description" type="text" class="form-control" placeholder="A brief description of the host you whis to add (e.g: first database server)" required="" aria-required="true" }}            
						</div>
					</div>
				</div>


				<p class="pull-left hint-text p-l-5">
				I agree to the <a href="#">ZeroRisk Terms</a> and <a href="#">Privacy</a>.
				</p>

				<div class="clearfix"></div>
				<button class="btn btn-complete pull-right" type="submit">Create IP</button>
			</form>
		</div>
	</div>
</div>

</div>
<!-- END PAGE CONTENT -->